<h1>{{ page.content }}</h1>

{% for release in page.header.releases %}
    <div class="module release {{ release.css_class }}">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>{{ release.title }}</h1>
                    <div class="description">
                        {% for item in release.description %}
                            {{ item | markdown }}
                        {% endfor %}
                    </div>
                    {% for image in release.images %}
                        {{ image }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}