{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<div class="module about light-bg" id="{{ _self.pageLinkName(page.header.menu) }}">

    <div class="container">
        <div class="row">
            <div class="col-8">
            <h1>{{ page.header.title }}</h1>
            {{ page.content }}
            </div>
            <div class="col-4">
                <img class="profile-img" src="{{ page.header.image }}" alt="{{ page.header.title }}">
            </div>
        </div>
    </div>
</div>