{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<div class="module intro" id="{{ _self.pageLinkName(page.header.menu) }}">


    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="profile-img" src="{{ page.header.image }}" alt="{{ page.header.title }}">
            </div>
            <div class="col-12 col-md-8">
                <h1 class="intro-msg">{{ page.header.intro_msg }}</h1>
                <h3 class="sep">{{ page.header.subhead }}</h3>
                {{ page.content }}
                <a href="#get_in_touch" class="btn smoothscroll"><span>Get in touch</span></a>
            </div>
        </div>
    </div>
</div>