{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    <link href="https://fonts.googleapis.com/css?family=Raleway:700,500|Roboto:400,700" rel="stylesheet"> 

    {% block stylesheets %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://dist/css/main.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">

{% block header %}
    <header class="header" id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
                    <img src="{{ url('theme://images/eslogo.svg') }}" alt="{{ config.site.title }}">
                    <span class="title">{{ config.site.title }}</span>
                    </a>
                </div>
                <div class="col-sm-8">
                    {% block header_navigation %}
                    <nav class="main-nav">
                        {% include 'partials/navigation.html.twig' %}
                    </nav>
                    {% endblock %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="container">
            <div class="row">
                <div class="col-12"> 
                    {{ page.content }}    
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modular %}
    <section id="body">
       {{ page.content }}  
    </section>
{% endblock %}

{% block footer %}
    <div class="footer">
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
